@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    max-width: 1440px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
                 
header {      
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    height: 110px;
}

#logo {
    display: flex;
    width: 120px;
    padding: 30px 0 0 40px;
}

nav ul {
    display: flex;
    list-style: none;
}

a {   /*concerne toutes les ancres*/
    text-decoration: none;
    color: #000000;
}

li a {   
    padding: 40px 30px 30px 30px;
    font-size: 18px;
    font-weight: 400;
}

li a:hover { /*selection li a pour ne pas interferer avec les autres puces a*/
    border-top: 5px solid #0065FC;
    font-weight: 600;
    color: #0065FC;
}             
            /* ------------- RECHERCHE ----------- */
             
main {
    margin: 0 40px 0 50px;
}

.titreh1 {
    display: flex;
    font-size: 22px;
    margin-bottom: 10px;
}

#bloc1 {
    display: flex;
    flex-direction: column;
} 

.textebloc1 {
    flex-direction: column;
}

.txtgris {  
    display: flex;
    color:#000000;
    font-size: 16px;
    font-weight: 500;
    margin: 0px; 
}
                    /*----- Barre de recherche -----*/
#Search {    
    display: flex;
    padding: 30px 0 15px 0;
    min-width: 350px;
    height: 50px;
} 
                
.iconelocalisation {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    width: 48px;
    height: 48px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.SearchBar {
    width: 220px;
    color: #000000;
    border: 1px solid #e6e6e6;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
    border-right: none;
    border-left: none;
    outline: none; /*Enlève les bordures noires qui apparaissent lors de la sélection */
}

::placeholder {
    color: #000000;
}

button {  
    border: 1px solid #e6e6e6;
    width: 130px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #0065FC;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.loupe {  /*Désactivé en desktop*/
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #0065FC;
    color: white;
    border-radius: 14px;
    position: relative;
    right: 10px;    
}
                         /*----- Filtres -----*/
#blocfiltres {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-top: 15px;
}

#economique, #familial, #romantique, #animaux {
    display: flex;
    align-items: center;
    border: 2px solid #e6e6e6; /*gris maquette*/
    border-radius: 22px;
    height: 42px;
    margin: 5px 35px 5px 0px ;
}

#economique:hover, #familial:hover, #romantique:hover, #animaux:hover {
    color: #0065FC;
}

#txtfiltres { 
    font-size: 15px;
    padding: 0 40px 0 10px;
}

#blocfiltres i {  /*cercle uniquement aux puce i de blocfiltres*/
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background-color: #DEEBFF;
    position: relative; 
    right: 6px;
}

.filtre {
    font-size: 17px;
    font-weight: 700;
    padding: 0 20px 0 5px;
}

#allfiltre {
    display: flex;
    flex-wrap: wrap;
}

                     /*----- LOGEMENTS DISPONIBLES DANS LA VILLE -----*/
.logementdispo {
    display:flex;
    align-items: center;  
    padding: 35px 0 10px 15px;
    color:#0065FC;
}

.logementdispo i {
    position: relative;
    left: 7px;
    bottom: 1px;
}

.cercleicone {
    border: 1px solid #e6e6e6;
    min-width: 20px;
    border-radius: 11px;
    margin-right: 10px;
}
                /*------ LES PLUS POPULAIRES------*/
#bloc2 {    
    display: flex;
    flex-direction: row-reverse; /*switch les pop à droite*/
    justify-content: space-between;
    height: auto;
    margin: 30px 0 60px 0;
}

#lespluspopulaires {   
    display: flex;
    flex-wrap: wrap;
    width: 32%;
    min-width: 320px;
    height: 620px;
    background-color: #F2F2F2;
    border-radius: 20px;  
}

#titresectionpop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 15px 0 0 35px;
}

.h2sectionpop {
    font-size: 22px;
}

.locationspopulaires {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 300px;
}

.locationspopulaires article {
    width: 80%;
}

.cartepopulaire {   /*conteneur avec fond + padding*/
    display: flex;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    height: 130px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.466);
}

.cartepopulaire:hover, .cartehebergementmarseille:hover {
        transform: scale(1.1);  
}

.imglocationspopulaires {
    width: 35%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover; /*redimension pour adapter au conteneur*/
}

.infocartepop {
    display: flex;
    flex-direction: column; /*aligement du contenu en colone de la carte pop*/
    width: 45%;
    min-width: 150px;
    padding: 8px 0 5px 18px;
 }

.h4cartepop {
    font-size: 16px; 
    margin: 0;
    padding-bottom: 10px;
}

.txtgriscartepop {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    flex-grow: 1;
}
                /*------ HEBERGEMENT A MARSEILLE------*/
.h2hebmarseille {
    font-size: 22px;
    padding: 25px 0 0 35px;
}

.prixbas {          /*prix bas en gras*/
    font-weight: 800;
    color: black;
}

#hebergementmarseille {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;
}

.locationMarseille {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.locationMarseille article {
    width: 28%;
    height: 220px;
}

.cartehebergementmarseille {
    display: flex;
    flex-flow: column wrap; /*raccourcie direction et à la ligne*/
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    height: 185px;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.466);
}

.imghebergementmarseille {
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.infocarteheb {
    display: flex;
    flex-direction: column;
    height: 60px;
    padding: 8px 0 0 8px;
    justify-content: space-between;
}

.h4cartehebmarseille {     
    font-size: 16px;                
    margin: 0;                      
}                                  
                                    
.txtgriscarteheb {                     
    font-weight: 500;              
    color:#636363;                 
    font-size: 14px;                
    margin: 0;                    
}

.afficherplus {
    text-decoration:none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0 0 30px;
}
                /*------ PARAMETRE ETOILES------*/
.etoilecartepopx5, .etoilecartepopx4, .etoilehebx5, .etoilehebx4, .etoilehebx3 {
    color: #0065FC;
    font-size: 12px;
}

.etoilecartepopx4 i:last-child, .etoilehebx4 i:last-child {  /*selection i de carte pop et heb*/
    color: #F2F2F2;
}

.etoilehebx3 i:nth-last-child(-n+2) {  /*-n pour partir du dernier +2 pour les deux derniers*/
    color: #F2F2F2;
}
                /*------ ACTIVITES A MARSEILLE ------*/

#bloc3activites {
    margin-top: 40px;
    margin-bottom: 70px;
}

.h2activites {
    font-size: 22px;
    padding-bottom: 10px;
}

.h4activites {  /*environ 50px de hauteur*/
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    padding: 16px 0 16px 18px;
    position: relative;
    bottom: 50px;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
}

#containeractivites {
    display: flex;
    justify-content: space-between;
    height: 450px;
}

.carte1, .carte2, .carte3, .carte4, .carte5, .carte6 {
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 15px rgba(100, 100, 100, 0.466);
}

.activite1, .activitescolonne2, .activite4, .activitescolonne4 {
    width: 23%;
    min-width: 245px; /*Permet d'éviter l'allongement de l'act.Calanques*/
}

.activite1:hover, .activite2:hover, .activite3:hover, .activite4:hover, .activite5:hover, .activite6:hover {
    transform: scale(1.08);
}

.imgcarte1, .imgcarte2, .imgcarte3, .imgcarte4, .imgcarte5, .imgcarte6 {
    border-radius: 20px 20px 22px 22px;
    height: 100%;
    object-fit: cover;
}

.imgcarte4 {
    filter: brightness(120%); 
}

.carte1, .carte4 {
    height: 450px;
    object-fit: cover;
}

.carte2, .carte3, .carte5, .carte6 { 
    height: 100%;
}

.activite2 { /*235 px (activite2 + 165 px (activite3) + 50 (marge)= 450 (hauteur container)*/
    height: 235px;
    margin-bottom: 50px;
}

.activite3 {
    height: 165px;
}

.activite5 {  /*195 px (activite5 + 205px (activite6) + 50 (marge) = 450 (hauteur container)*/
    height: 195px;
    margin-bottom: 50px;
}

.activite6 {
    height: 205px ;
}

                /*------ FOOTER ------*/
footer {
    background-color:#F2F2F2;
}

#containerfooter {
    display: flex;
    padding-left: 50px;
    width: 70%;
    height: 220px;
    justify-content:space-between;
}

.apropos, .noshebergements, .assistance {
    display:flex;
    flex-direction: column;
    padding-top: 30px;
    font-size: 18px;
}

.txtfooter {
    text-decoration: none;
    color: #636363;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}
                                        /* --- RESPONSIVE --- */
              
 
@media screen and (min-width: 992px) {      /*desktop*/

    .loupe {
        display:none;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {  /*tablette*/
    
    body, main, footer {
        padding: 0;
        margin: 0;
    }

    #logo {
        padding: 30px 0 0 0px;
    }

    #bloc1{
        margin-left: 20px;
    }

    .loupe {
        display:none;
    }

    #blocfiltres {
        flex-wrap: nowrap;
    }
                            /*HEBERGEMENTS*/
    #bloc2 {
    flex-direction: column;
    align-items: center;
    margin: 0;
    }

    #hebergementmarseille {
        width: 100%;
        border-radius: 0;
        margin-top: 20px;
    }
                            /*LES PLUS POP*/
    #lespluspopulaires {
        margin: 0;
        width: 80%;
        justify-content: center;
        background-color: white;
    }
    
    #titresectionpop {
        padding: 20px 0 20px 0;
        width: 40%;
    }

    .afficherplus {
        padding-bottom: 30px;
    }
                         /*-------ACTIVITES-------*/
    #bloc3activites {
        display: flex;
        margin-bottom: 30px;
        flex-direction: column;
    }

    .h2activites {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }

    #containeractivites {
        flex-wrap: wrap;
        align-self: center;
        height: auto;
        justify-content: space-evenly;
    }

    .activite1, .activitescolonne2, .activite4, .activitescolonne4 {
        width: 35%;
        min-width: 235px;
    }
    
    #containerfooter {
        display: flex;
        width: 80%;
        padding-left: 7%;
        justify-content:space-between;
    }
}

@media screen and (max-width: 767px) {              /*mobile*/
    
    body, main, header, footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }          
                                    /*------HEADER NAV------*/                  
    header { /* centre header sur mobile */
        width: 100%;
        padding-top: 10px;
        justify-content: center; /*centre le logo*/
    }

    #logo  {
        padding: 10px 0 0 50px;
    }

    nav {
        margin:0;
        width: 100%;  /*permet d'élargir nav à header*/
        display: flex;
    }
    
    nav ul {
        padding: 0; /*reset padding*/
        margin: 0; /*reset margin*/
        width: 100%; /*permets d'élargir activité sur tte la largeur*/
        height: 70px; /*hauteur fixée permettant de diriger le texte vers la baseline*/
    }

    li {
        display: flex; 
        width: 100%; /*permets d'élargir sur tte la largeur*/
        text-align: center;   
    }

    li a {
        width: 100%; /*permets d'élargir le trait sur tte la largeur*/
        padding-top: 35px;
        border-bottom: 3px solid #F2F2F2;
    } 
    
    li a:hover { /*barre bleue en bas dans nav*/
        border-top-style: none; /*désactive les autres paramètres*/
        border-bottom: 3px solid #0065FC;
    }
                                    /*------ MAIN ------*/
    #bloc1{
        margin: 40px 10px 0 20px;
    }
                                    /*------Barre de recherche------*/
    .SearchBar {
        width: 220px;
    }

    button {                        /* Désactivation de recherche*/
        display: none;
    }

                        /*------FILTRES------*/

    #blocfiltres {
        flex-wrap: wrap;
    }             

    #txtfiltres { 
        height: 45px;
        padding: 0;
    }

    #economique, #familial, #romantique, #animaux {
        margin-right: 10px;
    }

    .logementdispo {
        padding: 35px 0 10px 0;
    }
    
    .cercleicone {
        position: relative;
        bottom: 10px;    
    }
            /*------ HEBERGEMENTS LES PLUS POPULAIRES-----*/
    #bloc2 {
        justify-content: center;
        margin-bottom: 25px;
        flex-wrap: wrap;
    }

    #titresectionpop {
        padding-left: 20px;
    }

    #lespluspopulaires {
        border-radius: 0;
        margin: 0;
        width: 100%;
        justify-content: center;
        height: 550px;
    }

    #titresectionpop {
        padding: 0;
        width: 90%;
        max-width: 420px;
    }

    .locationspopulaires {
        padding-bottom: 30px;
        max-width: 470px;
    }
    
    .locationspopulaires article { /*permet de réduire l'espace entre les cartes*/
        height: 140px;
        width: 90%;
    }

    .cartepopulaire, .imglocationspopulaires {
        height: 120px;
    }

    .imglocationspopulaires {
        min-width:  130px; /*permets de fixer la largeur car 3 img moins large*/
        max-width: 130px; /*permets de fixer la largeur*/
    }

    .infocartepop {
        padding: 15px 0 10px 15px;
    }
            /*------ HEBERGEMENTS MARSEILLE-----*/
    #hebergementmarseille {
        background-color: white;
        width: 100%;
    }

    .h2hebmarseille {
        padding: 20px 0 5px 20px;
    }

    .locationMarseille article {
        width: 90%;
        max-width: 470px;
        display: flex;
        justify-content: center
    }

    .locationMarseille {
        height: auto;
    }
    
    .cartehebergementmarseille {
        width: 100%;
    }

    .afficherplus { 
        padding: 10px 0 0 20px;
    }
            /*------ ACTIVITES MARSEILLE-----*/
    #containeractivites {
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        justify-content: center;
    }

    .activite1, .activitescolonne2, .activite4, .activitescolonne4 {
        width: 90%;
        max-width: 470px;
    }

    .activite1, .activite2, .activite3, .activite4, .activite5, .activite6 {
        height: 220px;
        margin: 0; /*supprime la marge des article 2 et 5*/
    }
    
    .carte1, .carte2, .carte3, .carte4, .carte5, .carte6 {
        height: 190px;
    }
    .h2activites {
        padding-left: 20px;
    }

    #bloc3activites {
        margin-bottom: 15px;
    }

    #containerfooter {
        display: block;
        height: auto;
        padding-left: 5%;
        height: 480px;
    }

    .apropos, .noshebergements, .assistance {
        padding: 10px 0 0 0;
    }
}