@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    max-width: 1440px;
    justify-content: center;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
            /* ------------- NAV ----------- */
                            
header {      
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    height: 110px;
}

#logo {
    display: flex;
    width: 120px;
    padding: 30px 0 0 40px;
}

ul {
    display: flex;
    list-style: none;
}

a {   /*concerne toutes les ancres*/
    text-decoration: none;
    color: #000000;
}

li a {   
    padding: 40px 30px 30px 30px;
    font-size: 18px;
    font-weight: 400;
}

li a:hover { /*selection li a pour ne pas interferer avec les autres puces a*/
    border-top: 5px solid #0065FC;
    font-weight: 600;
    color: #0065FC;
}             
            /* ------------- RECHERCHE ----------- */
             
main {
    margin: 0 40px 0 50px;
}

.titreh1 {
    display: flex;
    font-size: 22px;
    margin-bottom: 5px;
}

#bloc1 {
    display: flex;
    flex-direction: column;
} 

.textebloc1 {
    flex-direction: column;
}

.txtgris {  
    display: flex;
    color:#888888;
    font-size: 16px;
    font-weight: 600;
    margin: 0px; 
}

                    /*----- Barre de recherche -----*/

#Search {    
    display: flex;
    padding: 20px 0 15px 0;
    min-width: 350px;
} 
                
.iconelocalisation {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6 ;
    width: 45px;
    height: 45px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.SearchBar {
    width: 220px;
    border: 1px solid #e6e6e6;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
    border-right: none;
    border-left: none;
    outline: none; /*Enlève les bordures noires qui apparaissent lors de la sélection */
}

button {  
    border: 1px solid #e6e6e6;
    width: 130px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #0065FC;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.loupe {  /*Désactivé en desktop*/
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #0065FC;
    color: white;
    border-radius: 12px;
    position: relative;
    right: 10px;    
}

                         /*----- Filtres -----*/

#blocfiltres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 17px;
    padding-top: 15px;
}

.economique, .familial, .romantique, .animaux {
    display: flex;
    align-items: center;
    border: 2px solid #e6e6e6; /*gris maquette*/
    border-radius: 20px;
    height: 40px;
    margin-right: 35px;
    margin-bottom: 5px; /*pour espace lors de la réduction d'écran*/
    margin-top:5px; /*pour espace lors de la réduction d'écran*/
}

#txtfiltres {   /* ID pour être + fort que .txtfiltres et enlever la bordure*/
    border: none;
    font-size: 15px;
    padding-right: 30px;
}

#blocfiltres i {  /*cercle uniquement aux puce i de blocfiltres*/
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background-color: #DEEBFF;
    position: relative; /*Utilisée pour bouger de 2px l'icone*/
    right: 6px;
}

.filtre {
    color: black; /*désactive la couleur violette du lien*/
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    padding: 0 20px 0 5px;
}

#allfiltre {
    display: flex;
    flex-wrap: wrap;
}

.filtre:hover{
    color: #0065FC;
    transform: scale(1.1)   
}

                /*----- LOGEMENTS DISPONIBLES DANS LA VILLE -----*/

.logementdispo {
    display: flex;
    padding: 35px 0 10px 0;
}

.logementdispo i {
    display:flex;
    align-items: center;
    padding-left :9px;
    color:#0065FC;
}

#iconeinfo {
    display: flex;
    width: 30px;
}

.cercleicone {
    border: 1px solid #e6e6e6;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    position: relative;
    right: 14px;
}

                /*------ LES PLUS POPULAIRES------*/

#bloc2 {     /*hebergement et les + pop */
    display: flex;
    flex-direction: row-reverse; /*switch les pop à droite*/
    justify-content: space-between;
    height: auto;
    margin: 30px 0 60px 0;
}


#lespluspopulaires {   /*container de droite*/
    display: flex;
    flex-wrap: wrap;
    width: 32%;
    height: 600px;
    background-color: #e6e6e6;
    border-radius: 20px;  
}

#titresectionpop {    /*container titre et etoile*/
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between; 
    padding: 25px 0 30px 30px;
}

.h2sectionpop {
    font-size: 20px;
}

.etoilepop {
    font-size: 20px;
    padding: 16px 12% 0 0; /*placement de l'étoile pop*/
}

.locationspopulaires {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 300px;
}

.locationspopulaires article {
    width: 80%;
}

.cartepopulaire {   /*conteneur avec fond + padding*/
    display: flex;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    height: 120px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(31, 31, 31, 0.466);
}

.cartepopulaire:hover, .cartehebergementmarseille:hover {
        transform: scale(1.1);  
}

.imglocationspopulaires {
    width: 40%;
    height: 120px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover; /*redimension pour adapter au conteneur*/
}

.infocartepop {
    display: flex;
    flex-direction: column; /*aligement du contenu en colone de la carte pop*/
    width: 45%;
    padding: 8px 0 8px 18px;
}

.h4cartepop {
    font-size: 14px; 
    margin: 0;
    padding-bottom: 10px; 
}

.txtgriscartepop {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

.etoilecartepopx5, .etoilecartepopx4 {
    display: flex;
    flex-grow: 2;
    align-items: flex-end
} 
                /*------ HEBERGEMENT A MARSEILLE------*/

.h2hebmarseille {
    font-size: 20px;
    padding: 25px 0 15px 30px;
}

.prixbas {          /*prix bas en gras*/
    font-weight: 800;
    color: black;
}

#hebergementmarseille {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #e6e6e6;
    border-radius: 20px;
    width: 65%;
}

.locationMarseille {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.locationMarseille article {
    width: 28%;
    height: 220px;
}

.cartehebergementmarseille {
    display: flex;
    flex-flow: column wrap; /*raccourcie direction et à la ligne*/
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    height: 190px;
    margin-bottom: 15px; /*espace entre les cartes*/
    box-shadow: 0 0 10px rgba(31, 31, 31, 0.466);
}

.imghebergementmarseille {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.infocarteheb {
    display: flex;
    flex-direction: column;
    height: 55px;
    padding: 10px 0 5px 8px;
    justify-content: space-between;  
}

.h4cartehebmarseille {     
    font-size: 14px;                
    margin: 0;                      
}                                  
                                    
.txtgriscarteheb {                     
    font-weight: 500;               
    color:#636363;                 
    font-size: 12px;                
    margin: 0;                    
}

.afficherplus {
    text-decoration:none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0 0px 30px;
}

                /*------ PARAMETRE ETOILES------*/

.etoilecartepopx5, .etoilecartepopx4, .etoilehebx5, .etoilehebx4, .etoilehebx3 {
    color: #0065FC;
    font-size: 12px;
    }

.etoilecartepopx4 i:last-child, .etoilehebx4 i:last-child {  /*selection i de carte pop et heb*/
    color: #F2F2F2;
}

.etoilehebx3 i:nth-last-child(-n+2) {  /*-n pour partir du dernier +2 pour les deux derniers*/
    color: #F2F2F2;
}

                /*------ ACTIVITES A MARSEILLE ------*/
    
#bloc3activites {
    margin-top: 40px;
    margin-bottom: 70px;
}

.h2activites {
    font-size: 20px;
}

.h4activites {  /*50px de hauteur au total*/
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    padding: 15px 0 16px 18px;
}

#containeractivites {
    display: flex;
    justify-content: space-between;
    height: 450px;
}

.activitescolonne1, .activitescolonne2, .activitescolonne3, .activitescolonne4 {
    width: 23%;
}

.carte1, .carte2, .carte3, .carte4, .carte5, .carte6 {
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px #e6e6e6;
}

.carte1:hover, .carte2:hover, .carte3:hover, .carte4:hover, .carte5:hover, .carte6:hover {
    transform: scale(0.9);
}

.imgcarte1, .imgcarte2, .imgcarte3, .imgcarte4, .imgcarte5, .imgcarte6 {
    border-radius: 20px 20px 0 0;
}

.carte1, .carte4 {
    height: 450px;
    object-fit: cover;
}

.imgcarte1, .imgcarte4 { /*50px en moins pour la bande blanche*/
    height: 100%;
    object-fit: none;
}

.carte2 {
    height: 225px;          /*450 / 2 = 225 soir la moitier de la hauteur colonne*/
    margin-bottom: 45px;     /*10% de 450 pour séparation*/
}

.imgcarte2 {
    height: 175px;      /*225 - 50 px = 175*/
    object-fit:cover;
}

.carte3 {
    height: 180px;   /*40% de la hauteur de la colonne*/
}

.imgcarte3 {
    height: 130px;
    object-fit: cover;
}

.imgcarte4 {
    filter : brightness(130%); /*eclaircir l'image*/
}

.carte5 {
    height: 190px;
    margin-bottom: 45px;    
}

.imgcarte5 {
    height: 140px;
    object-fit: cover;
}

.carte6 {
    height: 215px;
}

.imgcarte6 {
    height: 165px;
    object-fit: cover;
}

                /*------ FOOTER ------*/


footer {
    background-color:#e6e6e6;
}

#containerfooter {
    display: flex;
    padding-left: 3%;
    width: 70%;
    height: 200px;
    justify-content:space-between;
}

.apropos, .noshebergements, .assistance {
    display:flex;
    flex-direction: column;
    padding-top: 30px;
}

.txtfooter {
    text-decoration: none;
    color: #636363;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
}
                                        /* --- RESPONSIVE --- */
              
 
@media screen and (min-width: 992px) {      /*desktop*/

    .loupe {
        display:none;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {  /*tablette*/
    
    body, main, footer {
        padding: 0;
        margin: 0;
    }

    #bloc1{
        margin-left: 20px;
    }

    .loupe {
        display:none;
    }
    
                            /*HEBERGEMENTS*/
    #bloc2 {
    flex-direction: column;
    align-items: center;
    margin: 0;
    }

    #hebergementmarseille {
        width: 100%;
        border-radius: 0;
    }

    #lespluspopulaires {
        margin: 0;
        width: 70%;
        height: auto;
        background-color: white;
    }
    
    #titresectionpop {
        margin: 0 0 30px 30px;
    }

    .etoilepop {
        padding: 16px 50% 0 0;
    }

    .afficherplus {
        padding-bottom: 30px;
    }

                         /*-------ACTIVITES-------*/

    #bloc3activites {
        margin-bottom: 30px;
    }

    .h2activites {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }

    .activitescolonne3, .activitescolonne4 {
        padding: 50px 0 30px 0;
    }
    
    .activitescolonne1, .activitescolonne2, .activitescolonne3, .activitescolonne4 {
        min-width: 350px;
    }

    #containeractivites {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: auto;
        width: 100%;
        margin: 0;
    }

    #containerfooter {
        display: flex;
        width: 80%;
        padding-left: 7%;
        justify-content:space-between;
    }
}

@media screen and (max-width: 767px) {              /*mobile*/
    
    body, main, header, footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }
                  
                                    /*------HEADER NAV------*/
                        
    header { /* centre header sur mobile */
        width: 100%;
        justify-content: center; /*centre le logo*/
    }

    nav {
        margin:0;
        width: 100%;  /*permet d'élargir nav à header*/
        display: flex;
    }
    
    ul {
        padding: 0; /*reset padding*/
        margin: 0; /*reset margin*/
        width: 100%; /*permets d'élargir activité sur tte la largeur*/
        height: 70px; /*hauteur fixée permettant de diriger le texte vers la baseline*/
    }

    li {
        display: flex; 
        width: 100%; /*permets d'élargir sur tte la largeur*/
        text-align: center;   
    }

    li a {
        width: 100%; /*permets d'élargir le trait sur tte la largeur*/
        border-bottom: 3px solid #e6e6e6;
    } 
    
    li a:hover { /*barre bleue en bas dans nav*/
        border-top-style: none; /*désactive les autres paramètres*/
        border-bottom: 3px solid #0065FC;
    }
                                /*------ MAIN ------*/

    #bloc1{
        margin: 60px 10px 0 20px;
    }
                         /*------Barre de recherche------*/

    .SearchBar {
        width: 220px;
    }

    button {   /* Désactivation de recherche*/
        display: none;
    }

                        /*------FILTRES------*/

    .economique, .familial, .romantique, .animaux {
        margin-right: 10px;
    }
    
    #iconeinfo {
        display: flex;
        align-self: flex-start; 
    }
            /*------ HEBERGEMENTS LES PLUS POPULAIRES-----*/

    #bloc2 {
        justify-content: center;
        flex-wrap: wrap;
    }

    #titresectionpop {
        padding-left: 20px;
    }

    #lespluspopulaires {
        border-radius: 0;
        margin: 0;
        width: 100%;
    }

    .locationspopulaires {
        padding-bottom: 15px;
    }
    
    .locationspopulaires article { /*permet de réduire l'espace entre les cartes*/
        height: 160px;
        width: 90%;
    }

    .cartepopulaire, .imglocationspopulaires {
        height: 130px;
    }

    .imglocationspopulaires {
        min-width:  130px; /*permets de fixer la largeur car 3 img moins large*/
        max-width: 130px; /*permets de fixer la largeur*/
    }

            /*------ HEBERGEMENTS MARSEILLE-----*/
    
    #hebergementmarseille {
        background-color: white;
        width: 100%;
    }

    .h2hebmarseille {
        padding: 20px 0 5px 20px;
    }

    .locationMarseille article {
        width: 90%;
        display: flex;
        justify-content: center
    }

    .locationMarseille {
        height: auto;
    }
    
    .cartehebergementmarseille {
        width: 100%;
    }

    .afficherplus { 
        padding: 0 0 0 20px;
    }

            /*------ ACTIVITES MARSEILLE-----*/

    #containeractivites {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        justify-content: center;
    }

    .h2activites {
        padding-left: 20px;
    }

    .activitescolonne1, .activitescolonne2, .activitescolonne3, .activitescolonne4 {
        padding-bottom: 25px;
        width: 100%;
    }

    .activitescolonne1 article, .activitescolonne2 article, .activitescolonne3 article, .activitescolonne4 article {
        display: flex;
        justify-content: center;
    }

    .carte1, .carte2, .carte3, .carte4, .carte5, .carte6 {
        height: 180px;
        width: 90%;
    }

    .imgcarte1, .imgcarte2, .imgcarte3, .imgcarte4, .imgcarte5, .imgcarte6 {
        height: 130px;
    }

    .carte2, .carte5 {
        margin-bottom: 25px;  /*annule l'écart trop grand dû aux marges desktop*/
    }

    #containerfooter {
        display: block;
        height: auto;
        padding-left: 5%;
    }

    .apropos, .noshebergements, .assistance {
        padding-right: 0;
    }
}